@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

html, body{
    margin: 0;
    height: 100%;

    font-family: 'Fredoka One', cursive;
}

html{
    background: black;
}

body{
    margin: 0 auto;

    background: whitesmoke;

    display: flex;
    flex-direction: column;
    text-align: center;
}

a{
    color: white ;
    text-decoration: none;
}

header, footer{
    height: 50px;
    margin: 2px;
    padding: 10px;

    display: flex;
    align-items: center;
    justify-content: center;


    background: darkslateblue;
    color: white;
}

header{
    height: 100px;

    justify-content: space-between;



    font-size: 1.5em;
}

header > *{
    margin: 0px 5px;
}

header a:hover {
    color: inherit ;
}



#content{
    padding: 10px;

    flex: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    overflow: hidden ;

    text-align: left;
}

#content .scrollable{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    overflow: auto;
}

#main-title{
    font-size: 1.5em;
}

.btn-dark:hover{
    background: #21143d;
}





.part_outside_right,.part_outside_left{
    margin-bottom: 200px;
    position: relative;
  }
  
  .part_outside_right::before {
    position: absolute;
    bottom: 0px;
    
    border-bottom: solid 40px whitesmoke;
    border-right: 100vw solid rgba(0,0,0,0);
    
    content: '';
  }

  .part_outside_left::before {
    position: absolute;
    top: 0px;
    
    border-top: solid 40px whitesmoke;
    border-right: 100vw solid rgba(0,0,0,0);
    
    content: '';
  }
  
  .part_outside_right::after {
    top: 0px;
    position: absolute;
    
    border-top: solid 40px whitesmoke;
    border-left: 100vw solid rgba(0,0,0,0);
    
    content: '';
  }

  .part_outside_left::after {
    bottom: 0px;
    position: absolute;
    
    border-bottom: solid 40px whitesmoke;
    border-left: 100vw solid rgba(0,0,0,0);
    
    content: '';
  }
  
  
  .part_inside_right {
    height: 300px;
    padding: 60px 1em;
    
    background: #92BFB1;
  }

  .part_inside_left {
    height: 300px;
    padding: 60px 1em;
    
    background: #CEA07E;
  }