@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

html, body{
    margin: 0;
    height: 100%;

    font-family: 'Fredoka One', cursive;
}

html{
    background: black;
}

body{

    background: whitesmoke;

    display: flex;
    flex-direction: column;
    text-align: center;
    
}


header, footer{
    height: 50px;
    margin: 2px;
    padding: 10px;

    display: flex;
    align-items: center;
    justify-content: center;


    background: rgb(81, 70, 156);
    color: white;
}

header{
    height: 100px;

    justify-content: space-between;



    font-size: 1.5em;
}

header > *{
    margin: 0px 5px;
}

header a:hover {
    color: inherit ;
}



#content{

    flex: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    overflow: hidden ;

    text-align: left;
}

#content .scrollable{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    overflow-x: hidden;
}

#main-title{
    font-size: 1.5em;
}

.btn-dark:hover{
    background: #21143d;
}

.side_by_side{
  display: flex;
  flex-direction: row;
  padding-top: 50px;
  padding-bottom: 150px;
}

#title-main{
  position: relative;
  font-size: 2em;
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  padding-left: 100px;
}

#title-main::before{
  position: absolute;
  width: 220px;
  height: 5px;
  background-color: rgb(81, 70, 156);
  margin-top: 37px;
  
  content: '';
}

#title-main::after{
  position: absolute;
  width: 230px;
  height: 5px;
  background-color: rgb(81, 70, 156);
  margin-top: 45px;
  content: '';
}

.side_by_side div #text-main{
  font-size: 1.2em;
  display: flex;
  flex-direction: column;
  padding: 100px;
  padding-top: 50px;
}

.side_by_side img{
  padding: 50px;
  width: 45%;
}
