<footer>
    <div id="footer">
        <img src="/images/A3C.png">
    
        <div>

            Coordonnées

        </div>


        <div>

            blablabla

        </div>
    
    
    </div>
</footer>