<footer>
    <div id="footer">
        <div id="img_A3C">
            <img src="/images/A3c_Vectoriel.png">
        </div>

        <div id="all_footer">
            <div><h1>Coordonnées</h1></div>
            <div><h1>Adresse</h1></div>
            <div><h1> Horaires </h1></div>
            <div>   
                <div>Téléphone : +33 3 28 63 49 75</div>
                <div>Mobile : +33 6 07 09 26 42</div>
                <div>Fax +33 3 28 28 04 40</div>
            </div>
            <div>    
                <a ref="https://www.google.fr/maps?f=d&hl=fr&geocode&time&date&ttype&saddr&daddr=91,+Rue+Jules+Ferry,+59240+Dunkerque&sll=51.042199,2.40326&sspn=0.008108,0.02002&ie=UTF8&ll=51.04219,2.403259&spn=0.008108,0.02002&z=16&om=1"  href="https://www.google.fr/maps?f=d&hl=fr&geocode&time&date&ttype&saddr&daddr=91,+Rue+Jules+Ferry,+59240+Dunkerque&sll=51.042199,2.40326&sspn=0.008108,0.02002&ie=UTF8&ll=51.04219,2.403259&spn=0.008108,0.02002&z=16&om=1" target="_blank"> 91 rue Jules Ferry</a>
                <a ref="https://www.google.fr/maps?f=d&hl=fr&geocode&time&date&ttype&saddr&daddr=91,+Rue+Jules+Ferry,+59240+Dunkerque&sll=51.042199,2.40326&sspn=0.008108,0.02002&ie=UTF8&ll=51.04219,2.403259&spn=0.008108,0.02002&z=16&om=1"  href="https://www.google.fr/maps?f=d&hl=fr&geocode&time&date&ttype&saddr&daddr=91,+Rue+Jules+Ferry,+59240+Dunkerque&sll=51.042199,2.40326&sspn=0.008108,0.02002&ie=UTF8&ll=51.04219,2.403259&spn=0.008108,0.02002&z=16&om=1" target="_blank"> 59240 DUNKERQUE France</a>
            </div>

            <div>            
                <div>Lundi au Vendredi</div>
                <div> 6h40 à 12h30 et de  13 h 00 à 18 h 50</div>
                <div>Samedi</div>
                <div> 6h40 à 12h30</div>
            </div>
        </div>      
    </div>
</footer>





