<header class="sticky visible" id="header">
    <nav>
        <div>Liens Utiles</div>
        <div>Liens Utiles</div>
        <img src="/images/A3c_Vectoriel.png">
        <div>Liens Utiles</div>
        <div>Liens Utiles</div>
    </nav>
</header>