<div id="main">
    <div class="part_outside_left_1">
        <div class="side_by_side" style="background: linear-gradient(whitesmoke 0%,whitesmoke 85% ,rgb(212, 211, 211) 95% ) ">
            
            <div>
                <div id="title-main"">
                    Lorem ipsum
                </div>

                <div id="text-main"> 
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est ipsa beatae eveniet dolores quaerat repellat nostrum perspiciatis,
                    recusandae voluptates quod pariatur odit tempora sunt incidunt eaque, sit obcaecati! Illo, dicta?
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                </br>
                    In, exercitationem incidunt nostrum enim sequi cupiditate
                    voluptates magni consequatur voluptatum quas accusamus excepturi laborum accusantium dolorum corporis, assumenda eveniet nesciunt perferendis.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat officiis quia, 
                    distinctio neque hic laudantium fuga magnam itaque culpa aut illum amet dignissimos ad nulla aspernatur soluta maiores alias tenetur.
                </div>

            </div>
            <img src="/images/compta8CROP.png" id="front_images">
        </div>
    </div>






    
    <div class="part_outside_left_2">
        <div class="side_by_side" style="background: linear-gradient(rgb(212, 211, 211) 0%,rgb(212, 211, 211) 90% ,rgb(201, 199, 199) 95% ) ">
            <img src="/images/compta3_crop.png" id="front_images">
            <div>
                <div id="title-main"">
                    Lorem ipsum
                </div>

                <div id="text-main"> 
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est ipsa beatae eveniet dolores quaerat repellat nostrum perspiciatis,
                    recusandae voluptates quod pariatur odit tempora sunt incidunt eaque, sit obcaecati! Illo, dicta?
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                </br>
                    In, exercitationem incidunt nostrum enim sequi cupiditate
                    voluptates magni consequatur voluptatum quas accusamus excepturi laborum accusantium dolorum corporis, assumenda eveniet nesciunt perferendis.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat officiis quia, 
                    distinctio neque hic laudantium fuga magnam itaque culpa aut illum amet dignissimos ad nulla aspernatur soluta maiores alias tenetur.
                </div>

            </div>

        </div>
    </div>

    <div class="part_outside_left_3">
        <div class="side_by_side" style="background: rgb(201, 199, 199); ">
            
            <div>
                <div id="title-main"">
                    Lorem ipsum
                </div>

                <div id="text-main"> 
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est ipsa beatae eveniet dolores quaerat repellat nostrum perspiciatis,
                    recusandae voluptates quod pariatur odit tempora sunt incidunt eaque, sit obcaecati! Illo, dicta?
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                </br>
                    In, exercitationem incidunt nostrum enim sequi cupiditate
                    voluptates magni consequatur voluptatum quas accusamus excepturi laborum accusantium dolorum corporis, assumenda eveniet nesciunt perferendis.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat officiis quia, 
                    distinctio neque hic laudantium fuga magnam itaque culpa aut illum amet dignissimos ad nulla aspernatur soluta maiores alias tenetur.
                </div>

            </div>
            <img src="/images/compta4.png" id="front_images">
        </div>
    </div>

    <svg src="images/wave.svg" viewBox="0 0 1440 320">
        <path fill="rgb(201, 199, 199)" fill-opacity="1" d="M0,192L30,208C60,224,120,256,180,245.3C240,235,300,181,360,181.3C420,181,480,235,540,240C600,245,660,203,720,202.7C780,203,840,245,900,261.3C960,277,1020,267,1080,245.3C1140,224,1200,192,1260,186.7C1320,181,1380,203,1410,213.3L1440,224L1440,0L1410,0C1380,0,1320,0,1260,0C1200,0,1140,0,1080,0C1020,0,960,0,900,0C840,0,780,0,720,0C660,0,600,0,540,0C480,0,420,0,360,0C300,0,240,0,180,0C120,0,60,0,30,0L0,0Z"></path>
      </svg>


<div id="comments">
    <ul>
    <% comments.forEach((elem)=>{ %>
        <div>
            <%= elem.name
            %> 
            <%= elem.comment
            %>
        </div>
    <% })%>
    </ul>
</div>

</br></br></br></br></br></br></br>



</div>

