<div id="main">

    <div class="part_outside_right">

        <div class="part_inside_right">

            1
    
            
        </div>


    </div>
     

    <div class="part_outside_left">

        <div class="part_inside_left">

            2
    
            
        </div>


        
    </div>

    <div class="part_outside_right">

        <div class="part_inside_right">

            3
    
            
        </div>
    
            
    </div>
    
    <div class="part_outside_left">
    
        <div class="part_inside_left">
    
                4
        
                
        </div>
    
            
    </div>
    
</div>
    
