<div id="main" style="padding-top: 200px;  display: flex;background-color: rgb(222, 222, 222); background-clip: padding-box; flex-direction: column;">
    <div id="MyUnisoft" style=" padding-bottom: 100px;margin-top: 70px;">
        <div id="Uni_main_title">
            <a href="https://app.myunisoft.fr" id="MyUnisoft_Title">MyUnisoft : </a>
            <div>Une Offre 100 % en ligne à partir de 22,50 € / mois !</div>
        </div>
    </div>

    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" style="background-color:rgb(201, 199, 199) ;">
        <path fill="rgb(222, 222, 222)" fill-opacity="1" d="M0,128L60,149.3C120,171,240,213,360,240C480,267,600,277,720,256C840,235,960,181,1080,181.3C1200,181,1320,235,1380,261.3L1440,288L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z"></path>
      </svg>

    <div class="part_outside_left_3">
        <div class="side_by_side" style="background: rgb(201, 199, 199); padding-top: 50px;">
            
            <div>
                <div id="title-main-tarif">
                    Tarification
                </div>

                <div id="text-main" style="padding-left: 120px;"> 
                    <div style="padding-bottom: 40px;">
                    CWE Comptabilité vous donne accès à votre comptabilité depuis votre ordinateur à partir de 22,50 € par mois
                    </div>
                    <div style="padding-bottom: 40px;">
                    La version unifiée assure la comptabilité de votre entreprise de la saisie jusqu'au compte de résultat, mais également l'accès sans limitation à la comptabilité analytique - 3 axes.
                    Conçue autour d'une base de données unique totalement intégrée au système comptable du cabinet A3C,
                    Nos offres s'articulent autour de la solution de base à laquelle nous aménageons l'environnement le plus adapté à votre entreprise
                    </div>
                    <ul>- Chaintrust (Lauréat Eureka 2020)</ul>
                    <ul>- JeFacture.com - la plateforme PDP de l'Ordre des Experts Comptables</ul>
                    <ul>- MEG Facturation Rapide</ul>
                    <ul>- MEG Caisse</ul>
                    <ul>- Evoliz</ul>
                    <ul>- …</ul>
                    <div>
                        Notre offre MyUnisoft est Conforme aux Nouvelles Normes Comptabilité Informatisées.
                    </div>
                </div>

                <div>
                    <div id="title-main-FEC">
                        <div id="compta_est">Votre comptabilité est elle </div>
                        <div id="FEC-comp"> FEC-compatible ?</div>
                    </div>

                    <div id="diapo-holder" style="padding: 100px;">
                        <iframe src="//www.slideshare.net/slideshow/embed_code/key/A2k9cYvy5vaHwD" width="595" height="485" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe> <div style="margin-bottom:5px"> <strong> <a href="//fr.slideshare.net/slideshow/fec-petit-guide-dinformationentreprise/43140690" title="FEC Petit Guide d&#39;information pour entreprise" target="_blank"></a> </strong> <strong><a href="//www.slideshare.net/duportailphilippe" target="_blank"></a></strong> </div>

                    </div>

                </div>
            </div>
        </div>
</div>




<script type="text/javascript" src="../javascript/header_scroll.js"></script>
