<div id="main" style="padding-top: 200px;  display: flex;background-color: rgb(222, 222, 222); background-culp: padding-box; flex-direction: column;">
    <div id="MyUnisoft" style=" padding-bottom: 100px;margin-top: 70px;">
        <div id="Uni_main_title">
            <div style="font-size: 4em;">Outils Clients</div>
        </div>
    </div>

    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" style="background-color:rgb(201, 199, 199) ;">
        <path fill="rgb(222, 222, 222)" fill-opacity="1" d="M0,128L60,149.3C120,171,240,213,360,240C480,267,600,277,720,256C840,235,960,181,1080,181.3C1200,181,1320,235,1380,261.3L1440,288L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z"></path>
      </svg>

    <div class="part_outside_left_3" ">
        <div class="side_by_side" style="background: rgb(201, 199, 199); padding-top: 50px;" id="center_tools">
            
            <div id="center_tools" style="flex-direction: column; align-items: center;">
                <div id="title-main-info" style="padding-bottom: 50px; width: fit-content; padding-top: 0; text-align: center;">
                     Titre bla bla bla
                    </div>

                    <div id="text-main" style=" padding-bottom: 0; "> 
                        <div style="padding-bottom: 40px;">
                            <li style="padding-bottom: 15px;"><a href="http://mon-expert-en-gestion.dk" class="link_tools">Entrez dans l'ère numérique avec Mon Expert En Gestion.dk</a> </li>
                            <ul>- Gestion commerciale en ulgne</ul>
                            <ul>- Comptabiulté en ulgne</ul>  
                            <ul>- Gestion de vos Ressources Humaines en ulgne (Janvier 2023)</ul>  
                            <ul>- Caisse (MEG)</ul>   
                            <ul>- E-caisse Enregistreuse(évolutive vers un site de e-commerce)</ul>
                        </div>
                    </div>
            </div>
            
        </div>
        <div class="side_by_side" style="background: rgb(201, 199, 199); padding-top: 50px;" id="center_tools">
            <div id="center_tools" style="flex-direction: column; position: relative; align-items: center;">
                <div id="title-main-info" style="padding-bottom: 50px; padding-top: 0; text-align: center;">
                    Sites informatifs
                </div >
            
                <div id="text-main" style="padding-bottom: 0; "> 
                    <div style="padding-bottom: 80px;">
                        <li style="padding-bottom: 25px;"><a href="https://lexpertcomptable.blogspot.com" class="link_tools">Le Blog</a> </li>
                        <li style="padding-bottom: 25px;"><a href="https://loidefinances.tumblr.com" class="link_tools">Loi de Finances</a> </li>
                        <li style="padding-bottom: 25px;"><a href="http://jembauche.tumblr.com/" class="link_tools">J'embauche</a> </li>
                        <li style="padding-bottom: 25px;"><a href="http://a3c-securite-au-travail.tumblr.com/" class="link_tools">Sécurité au travail</a> </li>
                        <li style="padding-bottom: 25px;"><a href="http://lassurance-sante.tumblr.com/" class="link_tools">Assurance Santé des Entreprises</a> </li>
                        <li style="padding-bottom: 25px;"><a href="http://a3c-bienvenue.tumblr.com/" class="link_tools">Livret d'accueil</a> </li>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>




<script type="text/javascript" src="../javascript/header_scroll.js"></script>

 